<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${test.name}"></title>
    <link rel="stylesheet" type="text/css" href="../../../static/css/style.css" th:href="@{/css/style.css}"/>

</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div id="mainTest" class="main">

    <h1 th:text="${test.name}"></h1>
    <form action="#" th:action="@{/tests/}" th:object="${testPost}" method="POST">
        <input type="text" th:field="*{user}" placeholder="Введите свое имя" required class="inputText"/>

        <div th:each="question, index : ${questions}">
            <table>

                <thead>
                <tr>
                    <th th:text="${question.question}">
                    </th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="testAnswer">
                            <div th:each="answer : ${answers}" th:if="${answer.question.id} == ${question.id}">
                            <input type="radio" th:field="*{answer[__${index.index}__]}" th:value="${answer.id}" required class="inputRadio"/>
                            <label th:text="${answer.answer}"></label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="button">
        <input type="submit" />
        </div>
    </form>
    
</div> 
<div th:replace="fragments/footer :: footer" id="footer">footer</div>

</body>
</html>