<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Карта</title>
    <link rel="stylesheet" type="text/css" href="../../css/style.css" th:href="@{/css/style.css}"/>

    <script type="importmap">
    {
      "imports": {
        "three": "https://cdn.jsdelivr.net/npm/three@v0.149.0/build/three.module.js",
        "three/addons/": "https://cdn.jsdelivr.net/npm/three@v0.149.0/examples/jsm/"
      }
    }
    </script>
</head>
<body>
    <div th:replace="fragments/header :: header">header</div>
    <div id="gui"></div>
    <div id="map" class="main">
        <script type="module" src="../../js/map.js" th:src="@{js/map.js}"></script>
    </div>
    
    <div th:replace="fragments/footer :: footer">footer</div>
    
</body>
</html>