*{
    margin: 0;
}


.main{
    background-color: linear-gradient(to top, #2193b0, #6dd5ed) ;
    display: block;
    min-height: 85vh;
    margin: 0 auto;
    text-align: center;
}
#header{
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.1);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    align-items: center;
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#header a {
  margin: 0px 3vw;
  color: black;
  font-family: "Roboto", "Arial";
  font-size: 1.15vw;
  text-decoration: none;
  transition: transform 0.08s ease;
}
#header a:hover {
  transform: scale(1.15);
}
#header a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: transparent;
  transition: width 0.3s ease, left 0.3s ease;
  position: relative;
  left: 50%;
}
#header a:hover::after {
  width: 100%;
  background-color: black;
  left: 0;
}

#footer{
    background-color: bisque;
    display: block;
    min-height: 5vh;
}

#mainArticle{
    max-width: 1000px;
}


table{
    margin: 0 auto;
}

.button{
    text-align: center;
    background-color: cornsilk;
}

.lil-gui.autoPlace{
    position: absolute;
    top: 10vh;
}
